<div>

  <p>is authenticated: {{(isAuthenticated$ | async) |json}}</p>
  <p>is authenticated: {{(userData$ | async) | json}}</p>

</div>

<div>
  <button (click)="login()">Login</button>
  <br>
  <button (click)="logout()">Logout</button>

  <br>
  <button (click)="listFiles()">List files</button>

  <br>
  <button (click)="uploadSampleFile()">Upload sample</button>



  
  <br>
  <button (click)="listNotes()">List notes</button>

  <br>
  <button (click)="createNote()">Create note</button>
</div>

<div>

  <br>
  <button (click)="listGmailLabels()">List labels</button>

  <br>
  <button (click)="createGmailLabel()">Create label</button>
</div>